:root {
  --term-gap: 2rem;
  --term-radius: 2rem;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    'header'
    'main'
    'nav'
  ;
}

header,
nav {
  font-family: sans-serif;
}

header {
  grid-area: header;
  background-color: rebeccapurple;
  color: white;
}

header h1 {
  margin: .5rem 1rem;
}

nav {
  background-color: black;
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

nav li {
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: bold;
}

nav li.active-route {
  background-color: #444;
  color: white;
}

nav li:hover {
  background-color: #666;
  color: white;
}

main {
  grid-area: main;
  overflow: auto;
  height: 100%;
  padding: 2rem;
}

.input-term-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--term-gap);
  padding-bottom: var(--term-gap);
}

.terms {
  padding: var(--term-gap);
}

.terms,
.term {
  border: 2px solid rgba(0, 0, 0, .5);
  border-radius: var(--term-radius);
}

.term-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--term-gap);
}

.term-row:not(:first-child) {
  padding-top: var(--term-gap);
}

.term {
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: var(--term-radius);
  padding: var(--term-gap);
  text-align: center;
  font-size: 1.5rem;
  transition: all .5s;
}

.term.empty {
  opacity: 0;
  transition: opacity .5s;
}

.term.selected {
  background-color: lightskyblue;
}

.term.correct,
.term.empty {
  background-color: palegreen;
}

.term.incorrect {
  background-color: lightcoral;
}

@media screen and (min-width: 480px) {
  .wrapper {
    grid-template-rows: min-content min-content auto;
    grid-template-areas:
      'header'
      'nav'
      'main'
    ;
  }
}
